<%- include('../layouts/userLayout/header.ejs') %>
<%- include('../layouts/userLayout/navbar.ejs') %>

<section id="breadcrumb">
  <div class="container">
    <div class="le-breadcrumb inline">
      <div class="iconic-nav-bar">
        <div class="icon-holder">
          <i class="fa fa-chain"></i>
          <span class="triangle"></span>
        </div>
        <div class="bar">
          <ul>
            <li><a href="/">homepage</a></li>
            <li class="active">shopping cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cart" class="page-holder">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="shopping-cart-page box">
          <div class="icon-holder small badge-style">
            <i class="fa fa-shopping-cart"></i>
            <span class="triangle"></span>
          </div>
          <div id="reloadDiv" class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-12 col-md-2">preview</th>
                  <th class="col-xs-12 col-md-5">product</th>
                  <th class="col-xs-12 col-md-2 price-column">price</th>
                  <th class="col-xs-12 col-md-2">quantity</th>
                  <th class="col-xs-12 col-md-1 price-column">total</th>
                  <th class="col-xs-12 col-md-2">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% if (products.length > 0) {
                  products.forEach(product => { %>
                    <tr>
                      <td>
                        <div class="thumb">
                          <a href="/singleProduct/<%=product.productId._id%>" ><img alt="" src="/adminAsset/adminImages/<%= product.productId.image[0] %>"></a>
                          
                        </div>
                      </td>
                      <td>
                        <div class="desc">
                          <h3><%= product.productId.product %></h3>
                          <div class="tag-line">
                            <%= product.productId.description %>
                          </div>
                          <div class="pid">Product Code: 4564789</div>
                        </div>
                      </td>
                      <td>
                        <div class="price">
                          <%= product.productId.Price %>
                        </div>
                      </td>
                      <td>
                        <div class="input-group quantity mx-auto" style="width: 100px">
                          <div class="input-group-btn">
                            <button onclick="changeQuantity('<%= userId %>','<%= product.productId._id %>', -1)" class="btn le-btn small btn-minus">
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                          <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="<%= product.count %>" readonly />
                          <div class="input-group-btn">
                            <button onclick="changeQuantity('<%= userId %>','<%= product.productId._id %>', 1)" class="btn le-btn small btn-plus">
                              <i class="fa fa-plus"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="price">
                          <%= product.totalPrice %>
                        </div>
                      </td>
                      <td>
                        <div class="delete">
                          <a class="close-btn"  onclick="deletecart('<%=product.productId._id%>')"></a>
                        </div>
                      </td>
                    </tr>
                  <% });
                } else { %>
                  <tr>
                    <td colspan="5" class="text-center">
                      No Products Added to Cart
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="merged-buttons">
            <a href="/shop" class="le-btn small">Continue Shopping</a>
            <a href="/checkOut" class="le-btn small">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="newsletter" class="section-newsletter">
  <div class="container">
    <div class="col-xs-12 col-md-1">
      <div class="icon-holder big">
        <i class="fa fa-newspaper-o"></i>
        <span class="triangle"></span>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="text">
        Sign up for our newsletter to<br>
        get the best offers and news.
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <!-- <form class="subscribe-form">
        <input data-placeholder="Enter Your Email Here..." class="le-input col-xs-12 col-md-10">
        <button type="submit" class="le-btn icon-btn fa fa-send"></button>
      </form> -->
    </div>
  </div>
</section>

<script>
  function changeQuantity(userId, proId, count) {
    $.ajax({
      
        url: '/changeQuantity',
        data: {
        user: userId,
        product: proId,
        count: count
        },
        method: 'post',
        success: (response) => {
        if (response.success) {
            $('#reloadDiv').load('/cart #reloadDiv');
        } else if (response.check) {
            swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Out of stock'
            });
        } else {
            swal.fire({ 
                position:'center',
                icon: 'warning',
                text: response.message,
                timer: 1500,
                showConfirmButton: false,
            });
        }
        },
        error: (error) => {
        console.log(error);
        }
    });
    }


    function deletecart(proId){
     
      swal.fire({
        title: 'Are you sure?',
        text: 'You want to delete cart',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes delete!'
      }).then((result)=>{
        if(result.isConfirmed){
          $.ajax({
            url: '/deleteCart',
            data:{
              products:proId,

            },
            method: 'post',
            success: (response)=>{
              location.reload();
              swal.fire({
                title: "Deleted!",
                text: 'Your item has been deleted.',
                icon: 'success',
                timer: 1500,
                showConfirmButton: false,
              })
            },
            error: (error)=>{
              console.log(error);
              swal.fire({
                title: 'Error!',
                text: 'An error occured while deleting the item',
                icon: 'error',
                showConfirmButton: false
              })
            }
          })
        }
      })
    }





</script>

<%- include('../layouts/userLayout/footer.ejs') %>
