<%- include('../layouts/userLayout/header.ejs') %>
<%- include('../layouts/userLayout/navbar.ejs') %>

      <section id="banners-mosaic">
        <div class="container no-padding mosaic-holder">
          
          <div class="col-xs-12 col-md-6 ">

            <div class="mosaic-banner big  wow bounceInLeft">
              <img alt="" src="userAsset/images/mosaic01.jpg">
              <div class="caption">
                <h1>
                  <span class="light">high heel</span><br>
                  collection
                </h1>
                <a class="le-btn medium" href="#">learn more</a>
              </div>


            </div>


          </div>
          <% if(banners.length>0){
            for(let i=0;i<banners.length;i++){%>
          <div class="col-xs-12 col-md-3 ">
            
            <div class="mosaic-banner inverse wow bounceInRight">
              
              <img alt="" src="/adminAsset/adminImages/<%=banners[i].image%>">
              <div class="caption">
                <h1>  
                  <span class="light"> <%=banners[i].description%></span><br>
                
                </h1>
                <a class="le-btn small" href="#">learn more</a>
              </div>
              
            </div>

           
          </div>
          <% } } %>
         
        </div>
      </section>

   

   


      <section id="bestsellers">
        <div class="container">
          <div class="iconic-nav-bar">
            <div class="icon-holder">
              <i class="fa fa-dollar"></i>
              <span class="triangle"></span>
            </div>
            <div class="bar">
              <h2>best <span class="bold">sellers</span></h2>


            </div>

          </div>

          


        </div> 
      </section>

      <section id="newsletter" class="section-newsletter">
        <div class="container">

        
          <div class="col-xs-12 col-md-1">
            <div class="icon-holder big">
              <i class="fa fa-newspaper-o"></i>
              <span class="triangle"></span>
            </div>
          </div>
            <div class="col-xs-12 col-md-4">
            <div class="text">
              sign up for our newsletter to<br>
              get best offers and news.
            </div>
          </div>
          <div class="col-xs-12 col-md-7">
            <form class="subscribe-form">
              <input data-placeholder="Enter Your Email Here..." class="le-input col-xs-12 col-md-10">
              <button type="submit" class="le-btn icon-btn fa fa-send"></button>
            </form>
          </div>
        </div>
      </section>

   
   

      


 <%- include('../layouts/userLayout/footer.ejs') %>    
      