<%- include('../layouts/userLayout/header.ejs') %>
    <%- include('../layouts/userLayout/navbar.ejs') %>






        <section id="breadcrumb">

            <div class="container">
                <div class="le-breadcrumb inline">
                    <div class="iconic-nav-bar">
                        <div class="icon-holder">
                            <i class="fa fa-chain"></i>
                            <span class="triangle"></span>
                        </div>
                        <div class="bar">
                            <ul>
                                <li><a href="/">homepage</a></li>
                                <li><a href="/shop">products</a></li>
                                <li class="active">Single Product</li>
                            </ul>


                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="single-product-sidebar" class="page-holder">
            <div class="container">
                <div class="col-xs-12 col-md-3 no-margin-left">
                    <div class="sidebar">
                        <div class="accordion-widget category-accordions widget">
                            <div class="icon-holder small">
                                <i class="fa fa-chain"></i>
                                <span class="triangle"></span>
                            </div>
                            <h2>categories</h2>
                            <div class="accordion">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                                            shoes and clothes
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in">
                                        <div class="accordion-inner">

                                            <ul>
                                                <li><a href="#">men shoes</a></li>
                                                <li><a href="#">women shoes</a></li>
                                                <li><a href="#">sexy clothes</a></li>
                                                <li><a href="#">sport wears</a></li>
                                                <li><a href="#">other stuff</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                                            collections
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse in">
                                        <div class="accordion-inner">

                                            <ul>
                                                <li><a href="#">sexy night</a></li>
                                                <li><a href="#">party hard</a></li>
                                                <li><a href="#">winter is coming</a></li>
                                                <li><a href="#">classy date</a></li>
                                                <li><a href="#">casual persons</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse3">
                                            kids
                                        </a>
                                    </div>
                                    <div id="collapse3" class="accordion-body collapse in">
                                        <div class="accordion-inner">

                                            <ul>
                                                <li><a href="#">0-5 years old</a></li>
                                                <li><a href="#">5-10 years old</a></li>
                                                <li><a href="#">10-15 years old</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="price-filter widget">
                            <div class="icon-holder small">
                                <i class="fa fa-dollar"></i>
                                <span class="triangle"></span>
                            </div>
                            <h2>price filter</h2>
                            <div class="price-range-holder">

                                <input type="text" class="price-slider" value="">
                                <span class="min-max">
                                    Price: $100 - $700
                                </span>
                                <span class="filter-button">
                                    <a href="#">filter</a>
                                </span>
                            </div>





                        </div>


                        <div class="size-filter widget">
                            <div class="icon-holder small">
                                <i class="fa fa-cube"></i>
                                <span class="triangle"></span>
                            </div>
                            <h2>size filter</h2>
                            <ul>
                                <li><a href="#">xs <span>(2)</span></a></li>
                                <li><a href="#">s <span>(1)</span></a></li>
                                <li><a href="#">m <span>(2)</span></a></li>
                                <li><a href="#">l <span>(4)</span></a></li>
                                <li><a href="#">xl <span>(3)</span></a></li>
                                <li><a href="#">xxl <span>(1)</span></a></li>
                            </ul>






                        </div>



                    </div>

                </div>

                <div class="col-xs-12 col-md-9 ">



                    <div id="single-product" class="row">
                        <div class="no-margin col-xs-12 col-sm-5 gallery-holder">
                            <div class="product-item-holder size-big single-product-gallery small-gallery">
                                <div class="icon-holder small">
                                    <i class="fa fa-search-plus "></i>
                                    <span class="triangle"></span>
                                </div>

                                <div class="single-product-slider">
                                    <div class="single-product-gallery-item" id="slide1">
                                        <a data-rel="prettyphoto" href="/adminAsset/adminImages/<%=products.image[0]%>">
                                            <img class="lazy" alt=""
                                                src="/adminAsset/adminImages/<%=products.image[0]%>">
                                        </a>
                                    </div>

                                </div>


                                <div class="gallery-thumbs">


                                    <ul>
                                        <li class="active">
                                            <a class="horizontal-thumb"
                                                href="/adminAsset/adminImages/<%=products.image[0]%>">
                                                <img class="lazy" alt="img"
                                                    src="/adminAsset/adminImages/<%=products.image[0]%>">
                                            </a>
                                        </li>

                                        <li>
                                            <a class="horizontal-thumb "
                                                href="/adminAsset/adminImages/<%=products.image[1]%>">
                                                <img class="lazy" alt="img2"
                                                    src="/adminAsset/adminImages/<%=products.image[1]%>">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="horizontal-thumb"
                                                href="/adminAsset/adminImages/<%=products.image[2]%>">
                                                <img class="lazy" alt="img3"
                                                    src="/adminAsset/adminImages/<%=products.image[2]%>">
                                            </a>
                                        </li>

                                        <li>
                                            <a class="horizontal-thumb"
                                                href="/adminAsset/adminImages/<%=products.image[3]%>">
                                                <img class="lazy" alt="img4"
                                                    src="/adminAsset/adminImages/<%=products.image[3]%>">
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="no-margin col-xs-12 col-sm-7 body-holder">
                            <div class="body">
                                <!-- <div class="star-holder">
                                    <div class="star" data-score="3"></div>
                                </div> -->
                                <h3>
                                    <%=products.product%>
                                </h3>


                                <div class="desc">
                                    <p>
                                        <%=products.description%>
                                    </p>
                                </div>


                                <div class="price">
                                    <div class="price-current">
                                        <span class="currency">₹ </span>
                                        <%=products.Price%>.00
                                    </div>
                                    <!-- <div class="price-old">
                      <span class="currency">$</span>250
                    </div> -->
                                </div>







                                <div class="buttons-holder">

                                    
                                    <div class="inline qnt-holder">
                                        <div class="le-quantity">
                                            <form>
                                                <a class="minus" href="#reduce"></a>
                                                <input name="quantity" readonly="readonly" type="text" value="1">
                                                <a class="plus" href="#add"></a>
                                            </form>
                                        </div>

                                    </div>

                                    <div class="merged-buttons">
                                        
                                        
                                            <a  onclick="addToCart('<%= products._id %>')" >   <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>
                                            </a>
                                       
                                            <a  onclick="addToWishlist('<%= products._id %>')" > <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button>
                                            </a>
                                    </div>


                                </div>


                                <div class="social-row">
                                    <span class="st_facebook_hcount"></span>
                                    <span class="st_twitter_hcount"></span>
                                    <span class="st_pinterest_hcount"></span>
                                </div>


                            </div>
                        </div>

                    </div>


                    <section class="section-review-comment">
                        <div class="tabbable tabs-left">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 no-margin">
                                    <ul class="nav nav-tabs ">

                                        <li class="active"><a href="#editor-review" data-toggle="tab">editor review</a>
                                        </li>
                                        <li><a href="#return" data-toggle="tab">return policy</a></li>
                                        <!-- <li><a href="#description" data-toggle="tab">description</a></li> -->

                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-8 no-margin ">
                                    <!-- Tab panes -->
                                    <div class="tab-content ">

                                        <div class="tab-pane active " id="editor-review">


                                            <h3 class="inline">High Quality and comfort</h3>
                                            <!-- <div class="star-holder pull-right">
                                                <div class="star" data-score="2"></div>
                                            </div> -->

                                            <hr>
                                            <!-- <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                                                iaculis orci id tellus consequat facilisis. Phasellus dapibus nibh et
                                                erat aliquam, fermentum auctor risus ultrices. Maecenas lobortis elit
                                                sed tempus volutpat. Donec ultricies fringilla leo ac consequat.
                                            </p>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                                                iaculis orci id tellus consequat facilisis. Phasellus dapibus nibh et
                                                erat aliquam, fermentum auctor risus ultrices. Maecenas lobortis elit
                                                sed tempus volutpat. Donec ultricies fringilla leo ac consequat.
                                            </p>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                                                iaculis orci id tellus consequat facilisis. Phasellus dapibus nibh et
                                                erat aliquam, fermentum auctor risus ultrices. Maecenas lobortis elit
                                                sed tempus volutpat. Donec ultricies fringilla leo ac consequat.
                                            </p> -->
                                        </div>


                                        <div class="tab-pane " id="return">


                                            <h3>Return policy</h3>
                                            <hr>
                                            <p>
                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.
                                            </p>



                                        </div>

                                        <div class="tab-pane" id="description">

                                            <h3>Description</h3>
                                            <hr>
                                            <p>
                                                It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout. The point of
                                                using Lorem Ipsum is that it has a more-or-less normal distribution of
                                                letters, as opposed to using 'Content here, content here', making it
                                                look like readable English. Many desktop publishing packages and web
                                                page editors now use Lorem Ipsum as their default model text, and a
                                                search for 'lorem ipsum' will uncover many web sites still in their
                                                infancy. Various versions have evolved over the years, sometimes by
                                                accident, sometimes on purpose (injected humour and the like).
                                            </p>



                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et
                                                malesuada fames ac ante ipsum primis in faucibus. Duis blandit interdum
                                                velit id viverra. Nunc sed dictum diam, sed interdum elit. Quisque quis
                                                dui id nulla malesuada viverra id in ante. Suspendisse potenti. Cras a
                                                purus id leo molestie pulvinar. Curabitur nec neque enim. Integer ornare
                                                sagittis diam a aliquam. Donec nec lorem lectus.
                                            </p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
        </section>

        <script>
            function addToCart(productId){
                $.ajax({
                    url:'/addToCart',
                    method:'post',
                    data:{
                        id:productId
                    },
                    success:(response)=>{  
                        if(response.success){
                            swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Product added to cart',
                            showConfirmButton: false,
                            timer: 1500,
                            });
                        }
                    }
                })
            }

            function addToWishlist(productId){
                $.ajax({
                    url:'/addToWishlist',
                    method:'post',
                    data:{
                        id:productId
                    },
                    success:(response)=>{  
                        if(response.success){
                            swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Product added to wishlist',
                            showConfirmButton: false,
                            timer: 1500,
                            });
                        }
                    }
                })
            }


        </script>

       
         


        <%- include('../layouts/userLayout/footer.ejs') %>